<h1>Listing Feedbacks</h1>


<div class="row">
  <div class="span6 offset3">
<%=form_for(@searchFeedbacks) do |f| %>
    <%= render 'error_messages', object: f.object %>
    <%= f.label :subjectName %>
    <%= f.text_field :subjectName %>
    <br><br>
    <%= f.submit "Search",class: "btn btn-large btn-primary"  %> 
<% end %>
  </div>
</div>


<% @feedbacks.each do |feedback| %>
<br />
<br />

    <h3>subject</h3>
    <p><%= feedback.subjectName %></p>
    <h3>strengths</p>
    <p><%= feedback.strengths %></p>
    <h3>weaknesses</h3>
    <p><%= feedback.weaknesses %></p>
    <h3>recommendations</h3>
    <p><%= feedback.recommendations %></p>
    <h3>rating</h3>
    <p><%= feedback.rate %></h3>
    <br />
<br />


<% end %>

<br />

<%= link_to 'postFeedback', createFeedback_path %>
