<h1>Listing all Feedbacks</h1>
<div class="row">
  <div class="span6 offset3">
<% @feedbacks.each do |feedback| %>
<br />
<br />
    <h3>subject</h3>
    <p><%= Subject.find(feedback.subject_id).name %></p>
    <h3>strengths</p>
    <p><%= feedback.strengths %></p>
    <h3>weaknesses</h3>
    <p><%= feedback.weaknesses %></p>
    <h3>recommendations</h3>
    <p><%= feedback.recommendations %></p>
    <h3>rating</h3>
    <p><%= feedback.rate %></h3>
    <br />
<br />
<% end %>
<br />
</div>
</div>

<%= link_to 'postFeedback', feedbackCreate_path %>
