<h1>all courses</h1>
<div class="row">
  <div class="span6 offset3">
<% @courses.each do |course| %>
<br />
<p>================================================================</p>
    <h4>course name</h4>
    <p><%= course.name %></p>
    <h4>include subjects</h4>
    <% course.subjects.each do |subject| %>
    <p><%= subject.name %>
    <%= link_to "delete", deleteSubject_path(:subject => subject, :course => course), method: :post,
                       data: { confirm: "You sure?" },
                       title: course %> </p> 
        <% end %>
<br><br>
    <% if (Subject.all - course.subjects).count > 0 %>
    <h4> add a subject to this course</h4> 
    <%= form_for(:addSubject, url: addSubject_path(:course => course), ) do |f| %>
    <%= f.collection_select(:subject_id, (Subject.all - course.subjects), :id, :name ) %>
    <br><br>
    <%= f.submit "submit", class: "btn btn-primary"  %> 
<% end %>
<% end %>
<% end %>
</div>
</div>


<%= link_to 'postFeedback', feedbackCreate_path %>
